@import '_variables';
body {
  background-color: $saamsaGrey;
  width: 100%;
  height: 100%;
}

.axis-label {
  fill: #000;
  font-size: 12px;
  text-anchor: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
// .nodeyChart{
//   background-color: $saamsaGrey;
//   position: absolute;
//   left: 10px;
//   top: 260px;
//   border-radius: 8px;
//   border: 4px solid $saamsaYellow ;

// }
// .graphSvg{
//   background-color: $saamsaGrey;
//   position: absolute;
//   right: 10px;
//   top: 260px;
//   border-radius: 8px;
//   border: 4px solid $saamsaYellow ;
// }
h2{
  font-size: 15px;
  font-family: $fontTitle;
  position: absolute;
  right: 120px;
  top: 300px;
  z-index:1;
}
// #mainContainer{
//   height: 600px;
//   width: 1000px;
//   background-color: $saamsaGrey;
//   // position: absolute;
//   // left: 1px;
//   // top: 300px;
//   // border-radius: 2px;
//   // border-style: solid;
//   // border-color: $saamsaBlack;
// position: absolute;
// left: 50%;
// top: 78%;
// transform: translate(-50%, -50%);
// padding: 10px;

// }
svg {
  width: 350px;
  height: 350px;
  background-color: rgb(109, 165, 162);
}
.node text {
  display: none;
  color: black;
  font: 10px sans-serif;
}
.node:hover {
  text {
    display: inline;
  }
  circle {
    fill: gray;
  }
}