@import '_variables';
body {
  background-color: $saamsaGrey;
  width: 100%;
  height: 100%;
}

.axis-label {
  fill: #000;
  font-size: 12px;
  text-anchor: middle;
  font-family: $TextFont;
}

h2 {
  font-size: 15px;
  font-family: $fontTitle;
  position: absolute;
  right: 165px;
  top: 275px;
  z-index: 1;
}
// #mainContainer{
//   height: 600px;
//   width: 1000px;
//   background-color: $saamsaGrey;
//   // position: absolute;
//   // left: 1px;
//   // top: 300px;
//   // border-radius: 2px;
//   // border-style: solid;
//   // border-color: $saamsaBlack;
// position: absolute;
// left: 50%;
// top: 78%;
// transform: translate(-50%, -50%);
// padding: 10px;

// }
svg {
  width: 42vw;
  height: 46vh;
  background-color: rgb(109, 165, 162);
  @media (max-width: 800px) {
    width: 60vw;
  }
}
.node text {
  display: none;
  color: black;
  font: 10px $TextFont;
}
.node:hover {
  text {
    display: inline;
  }
  circle {
    fill: gray;
  }
}
