@import '_variables';
body {
  background-color: $saamsaGrey;
  width: 100%;
  height: 100%;
}

.axis-label {
  fill: #000;
  font-size: 12px;
  text-anchor: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nodeyChart{
  background-color: #CED4DA;
  position: absolute;
  left: 1px;
  top: 50%;
  border-radius: 8px;
  border: 8px solid $saamsaYellow ;
}
.graphSvg{
  background-color: $saamsaGrey;
  position: absolute;
  right: 1px;
  top: 50%;
  border-radius: 8px;
  border: 8px solid $saamsaYellow ;
}
h2{
  font-size: 30px;
  position: absolute;
  right: 1px;
  top: 40%;
}
#mainContainer{
  height: 800px;
  width: 1000px;
  background-color: $saamsaGrey;
}
svg {
  width: 400px;
  height: 400px;
  background-color: rgb(109, 165, 162);
}
