@import "_variables";
.mainWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.headingWrapper {
    background-color: $saamsaYellow;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    float: left; 
    // width: 50%;
    // align-items: center;
    // text-align:center;
}

#heading {
    font-size: 60px;
    color: $saamsaBlack ;
    opacity: 1;
    margin-bottom:40px;
    margin-top: 0;
    font-family: $fontTitle;
    line-height:51px;
    vertical-align:middle;
}

#loggedIn{
    margin-left: 40%;
}

#heading, #loggedIn{
        display:inline;
    }
  .brokersDiv{
    background-color: $saamsaGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    align-content: center
  }

.newBrokerDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}
.or{
    margin-top:10px;
}

.brokerSelector{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.Btn{
    margin-top: 10px;
    border-radius: 4px;
    background-color: $saamsaYellow;
    border: 1px solid black;
    height: 30px;
    font-size: 15px;
    font-family: $buttonTitle;
    color: $saamsaBlack;
    width: 100px;
}

#logOutBtn{
    margin-top: 10px;
    border-radius: 4px;
    background-color: $saamsaGrey;
    border: 1px solid black;
    height: 30px;
    font-size: 15px;
    font-family: $buttonTitle;
    color: $saamsaBlack;
    width: 90px;
}
.topicSelector{
    margin-top:10px;
}

#loggedIn{
    align-content: right; 
    font-family: $buttonTitle;
}
